---
layout: single
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<ul>
  <li>In my PhD, I delivered a few classes as a visiting lecturer in the courses delivered by my PhD advisor</li>
  <li>I was a Teacher Assistant and Cisco certified trainer at Birmingham City University</li>
  <li>
    I used to deliver networking and security industrial courses such as Security+, CCNA, CCNA Security, and CCNP Security. I also delivered other database and security awareness courses. My teaching materials can be found at <a href= "https://www.slideshare.net/mohannadalhanahnah"> slideshare </a>
  </li>
</ul>



<!-- Comment for now - When you had a course: change the layout to archive and uncomment this.
{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" or post.label != "info" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}
-->
